body {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #001;
    color: #eef;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

form.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    background: #223;
    padding: 20px;
    border-radius: 8px;
}

form.two-col-grid label {
    grid-column: 1 / 2;
    text-align: right;
}

form.two-col-grid input, form.two-col-grid select {
    grid-column: 2 / 2;
    font-family: Arial;
    font-size: 14px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #2f2f3f;
    border: 1px solid #eef;
    border-radius: 5px;
    color: #eef;
}

div.checkbox-group {
    grid-column: 2 / 2;
    font-family: Arial;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 5px 5px;
    box-sizing: border-box;
    background-color: #2f2f3f;
    border: 1px solid #eef;
    border-radius: 5px;
}

div.checkbox-group input {
    margin: 0;
}

div.checkbox-group label {
    margin: 0;
}

div.side-by-side-num-inputs {
    grid-column: 2 / 2;
    display: flex;
    gap: 10px;
}

div.side-by-side-num-inputs input {
    font-family: Arial;
    font-size: 14px;
    width: 100px;
    padding: 5px;
}

div.input-note {
    grid-column: 2 / 2;
    padding: 1px 0 0 0;
    font-size: 14px;
    color: #bcd;
}

button.submit {
    font-family: Montserrat;
    grid-column: 1 / 3;
    background-color: #245;
    color: #eef;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button.submit:hover {
    background-color: #2f4f5f;
}

div.results {
    background: #223;
    padding: 20px;
    border-radius: 8px;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid #abc;
}

th {
    background-color: #234;
}

tr:nth-child(odd) {
    background-color: #223;
}

tr:nth-child(even) {
    background-color: #2f2f3f;
}
